<meta name="theme-color" content="#FBF4E4">
<link rel="icon" href="{{root}}favicon.ico" sizes="32x32">
<link rel="icon" type="image/png" sizes="192x192" href="{{root}}assets/img/icon-192.png">
<link rel="apple-touch-icon" href="{{root}}assets/img/apple-touch-icon.png">
<!-- Fonts are self-hosted (see section 0 of site.css). These two are needed for the first screen on every page. -->
<link rel="preload" as="font" type="font/woff2" href="{{root}}assets/fonts/fraunces-600.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{root}}assets/fonts/hanken-grotesk-400-700.woff2" crossorigin>
<link rel="stylesheet" href="{{root}}assets/css/site.css">
<script>document.documentElement.classList.add("js")</script>
